//%img#myimage{onclick: "changeImage()", src: "assets/articles/article1.jpg"}/

%img#myimage{src: "assets/articles/article1.jpg", onclick: "changeImage()"}
%p Click the light bulb to turn on/off the light