.center
  %h1 Victor Channel
  %h2
    How do you define Victory?

.slideshow
  = image_tag("articles/ac4review.jpg")
  = image_tag("articles/article1.jpg")
  = image_tag("articles/article2.jpg")

= link_to "Sign up now!", signup_path, class: "btn btn-small"

