- provide(:title, 'Home')

.center.hero-unit
  %h1 Victor Channel
  %h2
    This site is currently under construction.
  = link_to "Sign up now!", '#', class: "btn btn-large btn-primary"
//= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/'