!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Welcome to VictorChannel.com, #{@user.name}
    %p
      You have successfully signed up to example.com,
      your username is: #{@user.name}.
      %br/
    %p
      To get to the awesomeness now, visit: #{@url}.
