//@import "bootstrap";
/* mixins, variables, etc. */
//$grayMediumLight: #eaeaea;
@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* universal */

html {
  overflow-y: scroll;
}
body {
  padding-top: 38px;
  background-color: #222222;

}
section {
  //overflow: auto;
}
textarea {
  resize: vertical;
}
.center {
  text-align: center;
}
.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  color: #eae9c3;
}
h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}
h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #eae9c3;
}
p {
  font-size: 1.2em;
  line-height: 1.7em;
  color: #eae9c3;
}

/* header */

.header {
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 38px;
  z-index: 9;
  border-bottom: 3px;         //???
  border-color: #555555;      //???
  .container {
    width: 70%;
    margin: 0 auto;
    //margin-right: auto;
    //width: 70%;
  }
}
.headerlist li{
  float: right;
  //display: inline;
  list-style-type: none;
  padding-right: 20px;
}
#logo {
  float: left;
  margin-right: 10px;
  font-size: 26px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 20px;
  font-weight: bold;
  line-height: 1;
}
#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* sidebar */
.centerbody {
  width: 1500px;
  margin-left: auto;
  margin-right: auto;
  min-height: 100%;
  //ver

  .sidebar {
    float: left;
    text-align: center;
    height: 100%;
    width: 225px;
    top: 38px;
    //margin-left: 15%;
    margin-right: 20px;
    background-color: #2E2F30;
    border-right: 5px ridge #505050;
    border-bottom: 5px ridge #505050;
    border-left: 5px ridge #505050;
    z-index: 8;
    h2 {
      font-size: 22px;
      color: #eae9c3;
    }
    ul {
      //display: block;
      //text-align: center;
      //margin-left: 20px;
      //margin-right: 20px;
      margin: 0 auto;
      list-style-type: none;
      color: #eae9c3;
    }
  }

  .mainbody {
    //horizontal-align: center;
    float: left;
    //margin-top: 8px;
    padding-bottom: 40px;
    //background-color: #555555;
    width: 1200px;
    z-index: 1;
    //min-height: 100%;
    padding-right: 30px;
    border-right: 5px ridge #505050;
  }
}
.articleimg {
  margin: 0 auto;
}
/* footer */

footer {
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
  position: fixed;
  bottom: 0;
  height: 35px;
  width: 100%;
  z-index: 9;
  background-color: black;
  margin-top: 5px;
}
footer a {
  //olor: #555;
}
footer a:hover {
  color: whitesmoke;
}
footer small {
  float: left;
}
footer ul {
  float: right;
  list-style: none;
}
footer ul li {
  float: left;
  margin-left: 10px;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  position: absolute;
  bottom: 0;
  @include box_sizing;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}
input {
  height: auto !important;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid gray;
    &:last-child {
      border-bottom: 1px solid gray;
    }
  }
}

/* comments */

.comments {
  list-style: none;
  margin: 10px 0 0 0;
  color: #eae9c3;

  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}
.content {
  display: block;
}
.timestamp {
  color: gray;
}
.gravatar {
  float: left;
  margin-right: 10px;
}
aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}


/* JavaScript */
.slideshow {
  //height: 400px;
  //padding-bottom: 10px;
  width: 550px;
  margin: auto
}

.slideshow img {
  //padding: 15px;
  border: 1px solid #ccc;
  background-color: #eee;
}

/* articles */

.articlethumb {
  color: white;
  text-align: center;
}
